// Grid
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  hd: 1600px
);
$colour-primary: #fff;
$colour-secondary: #000;
$colour-highlight: #ff5e5e;
$box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
$border-radius: 0.25rem;
$weight-heading-normal: 500;
$weight-heading-bold: 700;
$font-size-base: 0.875rem;
$transition-duration: 0.3s;
$transition-timing: ease-in-out;