@media (min-width: 1024px) {
  .s-product .product-main {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .s-product .product-main {
    grid-template-columns: 55% 1fr;
  }
}
.s-product .product-form {
  width: 100%;
}
@media (min-width: 1024px) {
  .s-product .product-form {
    margin-top: 22rem;
  }
  .s-product .product-form.generic {
    margin-top: 11rem;
  }
  .s-product .product-form.generic h1 {
    font-size: 3rem;
  }
  .s-product .product-form:not(.generic) h1 {
    font-size: 4rem;
  }
}
.s-product .product-form h1 {
  margin-bottom: 0.75rem;
}
@media (max-width: 767.98px) {
  .s-product .product-form h1 {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 1279.98px) {
  .s-product .product-form h1 {
    font-size: 2.5rem;
  }
}
.s-product .product-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  display: flex;
}
.s-product .product-form ul.product-attributes {
  opacity: 0.5;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .s-product .product-form ul.product-attributes {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .s-product .product-form ul.product-attributes li {
    margin-left: 0;
    margin-top: 0.25rem;
  }
  .s-product .product-form ul.product-attributes li:before {
    content: "- ";
  }
  .s-product .product-form ul.product-attributes .divider {
    margin-right: 0.25rem;
    opacity: 0;
  }
}
.s-product .product-form ul li:not(.swatches) {
  margin-left: 0rem;
}
.s-product .product-form ul li .divider {
  margin: auto 0.5rem;
}
.s-product .product-form ul.checkbox-list {
  width: -webkit-min-content;
  width: min-content;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
}
.s-product .product-form ul.checkbox-list::-webkit-scrollbar {
  display: none;
}
.s-product .product-form ul.colour-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1.5rem, 3rem));
  row-gap: 1rem;
}
.s-product .product-form .unavailable {
  margin: 1rem 0;
  color: #ff5e5e;
}
.s-product .product-form .description {
  margin: 2.5rem 0;
}
.s-product .product-form form .product-option {
  margin-bottom: 2rem;
  position: relative;
}
@media (max-width: 767.98px) {
  .s-product .product-form form .product-option {
    overflow: hidden;
  }
}
.s-product .product-form form .product-option h2,
.s-product .product-form form .product-option button {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
          appearance: none;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.s-product .product-form form .product-option h2:focus,
.s-product .product-form form .product-option button:focus {
  outline: none;
}
.s-product .product-form form .product-option h2:hover,
.s-product .product-form form .product-option button:hover {
  text-decoration: none;
  outline: none;
}
.s-product .product-form form .product-option h2:disabled,
.s-product .product-form form .product-option button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.s-product .product-form form .product-option h2 svg,
.s-product .product-form form .product-option button svg {
  height: 1rem;
  width: 1rem;
}
.s-product .product-form form .product-option h2 [data-tooltip],
.s-product .product-form form .product-option button [data-tooltip] {
  margin-left: 1rem;
  position: relative;
  display: inline-block;
  opacity: 1;
  text-transform: none;
  font-size: 0.875rem;
}
.s-product .product-form form .product-option h2 [data-tooltip]::after, .s-product .product-form form .product-option h2 [data-tooltip]::before,
.s-product .product-form form .product-option button [data-tooltip]::after,
.s-product .product-form form .product-option button [data-tooltip]::before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -12px);
  z-index: 1000;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.35s ease 0.25s;
}
.s-product .product-form form .product-option h2 [data-tooltip]::before,
.s-product .product-form form .product-option button [data-tooltip]::before {
  content: attr(data-tooltip);
  background: #ff5e5e;
  color: #eee;
  padding: 8px 12px;
  white-space: nowrap;
  bottom: 100%;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.s-product .product-form form .product-option h2 [data-tooltip]::after,
.s-product .product-form form .product-option button [data-tooltip]::after {
  content: "";
  background: transparent;
  border: 8px solid transparent;
  border-top-color: #ff5e5e;
}
.s-product .product-form form .product-option h2 [data-tooltip]:active:after, .s-product .product-form form .product-option h2 [data-tooltip]:active:before, .s-product .product-form form .product-option h2 [data-tooltip]:focus:after, .s-product .product-form form .product-option h2 [data-tooltip]:focus:before, .s-product .product-form form .product-option h2 [data-tooltip]:hover:after, .s-product .product-form form .product-option h2 [data-tooltip]:hover:before,
.s-product .product-form form .product-option button [data-tooltip]:active:after,
.s-product .product-form form .product-option button [data-tooltip]:active:before,
.s-product .product-form form .product-option button [data-tooltip]:focus:after,
.s-product .product-form form .product-option button [data-tooltip]:focus:before,
.s-product .product-form form .product-option button [data-tooltip]:hover:after,
.s-product .product-form form .product-option button [data-tooltip]:hover:before {
  opacity: 1 !important;
}
@media (max-width: 1023.98px) {
  .s-product .product-form form .product-option h2 [data-tooltip].tooltip-multiline:before,
.s-product .product-form form .product-option button [data-tooltip].tooltip-multiline:before {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 120px;
    max-width: 230px;
    white-space: normal;
  }
  .s-product .product-form form .product-option h2 [data-tooltip][class*=tooltip-bottom]:after, .s-product .product-form form .product-option h2 [data-tooltip][class*=tooltip-bottom]:before,
.s-product .product-form form .product-option button [data-tooltip][class*=tooltip-bottom]:after,
.s-product .product-form form .product-option button [data-tooltip][class*=tooltip-bottom]:before {
    transform: translate(-50%, 12px);
  }
  .s-product .product-form form .product-option h2 [data-tooltip][class*=tooltip-bottom]:before,
.s-product .product-form form .product-option button [data-tooltip][class*=tooltip-bottom]:before {
    bottom: auto;
    top: 100%;
  }
  .s-product .product-form form .product-option h2 [data-tooltip][class*=tooltip-bottom]:after,
.s-product .product-form form .product-option button [data-tooltip][class*=tooltip-bottom]:after {
    bottom: 0;
    border: 8px solid transparent;
    border-bottom-color: #ff5e5e;
  }
  .s-product .product-form form .product-option h2 [data-tooltip].tooltip-bottom-left:before,
.s-product .product-form form .product-option button [data-tooltip].tooltip-bottom-left:before {
    transform: translate(-24px, 12px);
  }
  .s-product .product-form form .product-option h2 [data-tooltip].tooltip-bottom-right:before,
.s-product .product-form form .product-option button [data-tooltip].tooltip-bottom-right:before {
    left: auto;
    right: 50%;
    transform: translate(24px, 12px);
  }
  .s-product .product-form form .product-option h2 [data-tooltip].tooltip-top-left:before,
.s-product .product-form form .product-option button [data-tooltip].tooltip-top-left:before {
    transform: translate(-24px, -12px);
  }
  .s-product .product-form form .product-option h2 [data-tooltip].tooltip-top-right:before,
.s-product .product-form form .product-option button [data-tooltip].tooltip-top-right:before {
    left: auto;
    right: 50%;
    transform: translate(24px, -12px);
  }
}
.s-product .product-form form .product-option button {
  width: auto;
  height: auto;
  display: inline;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 0;
  padding-right: 1rem;
  cursor: pointer;
}
.s-product .product-form form .product-option button svg {
  opacity: 0.4;
}
.s-product .product-form form .product-option button.is-active {
  color: #000;
}
.s-product .product-form form .product-option button.is-active svg {
  opacity: 1;
}
.s-product .product-form form .product-option .tab-buttons {
  z-index: 20;
}
.s-product .product-form form .product-option .colour-options,
.s-product .product-form form .product-option .pattern-options {
  opacity: 0;
}
.s-product .product-form form .product-option .colour-options.is-active,
.s-product .product-form form .product-option .pattern-options.is-active {
  opacity: 1;
}
.s-product .product-form form .product-option .colour-options:not(.is-active),
.s-product .product-form form .product-option .pattern-options:not(.is-active) {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.s-product .product-form form .product-option .colour-options:not(.is-active) p,
.s-product .product-form form .product-option .colour-options:not(.is-active) ul,
.s-product .product-form form .product-option .pattern-options:not(.is-active) p,
.s-product .product-form form .product-option .pattern-options:not(.is-active) ul {
  height: 0;
  margin: 0 !important;
}
.s-product .product-form form .product-option .colour-options ul:not([data-colour-tab-content], [data-colour-top-tab-content], [data-colour-bottom-tab-content], [data-pattern-tab-content]),
.s-product .product-form form .product-option .pattern-options ul:not([data-colour-tab-content], [data-colour-top-tab-content], [data-colour-bottom-tab-content], [data-pattern-tab-content]) {
  margin-bottom: 1.5rem;
}
.s-product .product-form form .product-option .colour-options .checkbox-option,
.s-product .product-form form .product-option .pattern-options .checkbox-option {
  padding: 0;
  height: auto;
  border: none;
  display: flex;
  align-items: center;
}
.s-product .product-form form .product-option .colour-options .checkbox-option:not(:first-child, .swatches),
.s-product .product-form form .product-option .pattern-options .checkbox-option:not(:first-child, .swatches) {
  margin-left: 1.5rem;
}
.s-product .product-form form .product-option .colour-options .checkbox-option-label .checkmark,
.s-product .product-form form .product-option .pattern-options .checkbox-option-label .checkmark {
  opacity: 0.3;
}
.s-product .product-form form .product-option .colour-options .checkbox-option-label:hover input ~ .checkmark,
.s-product .product-form form .product-option .pattern-options .checkbox-option-label:hover input ~ .checkmark {
  opacity: 1;
  background-color: inherit;
}
.s-product .product-form form .product-option .colour-options .checkbox-option-label input:checked ~ .checkmark, .s-product .product-form form .product-option .colour-options .checkbox-option-label input.is-active ~ .checkmark,
.s-product .product-form form .product-option .pattern-options .checkbox-option-label input:checked ~ .checkmark,
.s-product .product-form form .product-option .pattern-options .checkbox-option-label input.is-active ~ .checkmark {
  opacity: 1;
}
.s-product .product-form form .product-option [data-colour-tab-content],
.s-product .product-form form .product-option [data-colour-top-tab-content],
.s-product .product-form form .product-option [data-colour-bottom-tab-content] {
  opacity: 0;
  position: absolute;
}
.s-product .product-form form .product-option [data-colour-tab-content].is-active,
.s-product .product-form form .product-option [data-colour-top-tab-content].is-active,
.s-product .product-form form .product-option [data-colour-bottom-tab-content].is-active {
  opacity: 1;
  position: relative;
}
.s-product .product-form form .product-option [data-colour-tab-content] .checkbox-option-label .checkmark,
.s-product .product-form form .product-option [data-colour-top-tab-content] .checkbox-option-label .checkmark,
.s-product .product-form form .product-option [data-colour-bottom-tab-content] .checkbox-option-label .checkmark {
  opacity: 1;
  border: none;
}
.s-product .product-form form .product-option [data-colour-tab-content] .checkbox-option-label:hover input ~ .checkmark,
.s-product .product-form form .product-option [data-colour-top-tab-content] .checkbox-option-label:hover input ~ .checkmark,
.s-product .product-form form .product-option [data-colour-bottom-tab-content] .checkbox-option-label:hover input ~ .checkmark {
  background-color: inherit;
  border: solid 1px #000;
}
.s-product .product-form form .product-option [data-colour-tab-content] .checkbox-option-label input:checked ~ .checkmark, .s-product .product-form form .product-option [data-colour-tab-content] .checkbox-option-label input.is-active ~ .checkmark,
.s-product .product-form form .product-option [data-colour-top-tab-content] .checkbox-option-label input:checked ~ .checkmark,
.s-product .product-form form .product-option [data-colour-top-tab-content] .checkbox-option-label input.is-active ~ .checkmark,
.s-product .product-form form .product-option [data-colour-bottom-tab-content] .checkbox-option-label input:checked ~ .checkmark,
.s-product .product-form form .product-option [data-colour-bottom-tab-content] .checkbox-option-label input.is-active ~ .checkmark {
  opacity: 1;
  border: solid 1px #000;
}
.s-product .product-form form .product-option .checkbox-option {
  padding: 0 2rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .s-product .product-form form .product-option .checkbox-option {
    padding: 0 1rem;
  }
}
.s-product .product-form form .product-option .checkbox-option:not(:first-child, .swatches) {
  margin-left: 1.5rem;
}
.s-product .product-form form .product-option .checkbox-option-label {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.s-product .product-form form .product-option .checkbox-option-label .checkbox-option-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.s-product .product-form form .product-option .checkbox-option-label .checkmark {
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #000;
}
.s-product .product-form form .product-option .checkbox-option-label .checkmark.swatches {
  height: 1.5rem;
  width: 1.5rem;
}
.s-product .product-form form .product-option .checkbox-option-label .checkmark svg {
  position: absolute;
  transform: translate(0.09rem, 0.12rem);
  height: 0rem;
  opacity: 0;
  pointer-events: none;
  fill: none;
  stroke: #000;
}
.s-product .product-form form .product-option .checkbox-option-label:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  color: black;
  background-color: white;
  padding: 0.3rem 0.75rem;
  top: -2.25rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  left: calc(50% - 0.5rem);
  transform: translateX(-50%);
  white-space: nowrap;
}
.s-product .product-form form .product-option .checkbox-option-label:hover input:not(.is-disabled) ~ .checkmark {
  background-color: #ddd;
}
.s-product .product-form form .product-option .checkbox-option-label input:checked ~ .checkmark svg {
  opacity: 1;
  height: 0.6rem;
  width: 0.65rem;
}
.s-product .product-form form .product-option .checkbox-option.is-disabled {
  position: relative;
}
.s-product .product-form form .product-option .checkbox-option.is-disabled::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
  border-radius: 0.25rem;
  z-index: 10;
}
.s-product .product-form form .configuration-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.s-product .product-form form .configuration-box .details {
  flex-direction: column;
  opacity: 1;
  font-size: 0.75rem;
}
.s-product .product-form form .configuration-box .details[title]::before {
  content: attr(title);
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.s-product .product-form form .configuration-box .details li {
  margin-left: 0;
}
.s-product .product-form form .configuration-box .details li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.s-product .product-form form .configuration-box .details li .details-options {
  font-weight: 700;
}
.s-product .product-form form .configuration-box .price {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 500;
}
.s-product .product-form form .configuration-box .price:not(.generic) {
  text-align: right;
  justify-content: space-between;
}
.s-product .product-form form .configuration-box .price .price-label {
  font-size: 0.75rem;
  color: #ff5e5e;
}
.s-product .product-form form .configuration-box .price [data-product-price-container] {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 41px;
}
.s-product .product-form form .configuration-box .price [data-product-price-container] .vat-description {
  font-size: 0.75rem;
  opacity: 0.3;
  line-height: 15px;
}
.s-product .product-form form button {
  width: 100%;
  font-size: 0.875rem;
  height: 3.5rem;
}
.s-product .product-form .help-message {
  text-align: center;
  margin-top: 2rem;
}

.product-media:not(.generic) {
  position: -webkit-sticky;
  position: sticky;
}
@media (max-width: 1023.98px) {
  .product-media:not(.generic) {
    margin-bottom: 1.5rem;
    top: 0;
    z-index: 20;
    margin-top: -1rem;
  }
}
@media (min-width: 1024px) {
  .product-media:not(.generic) {
    top: 1rem;
    left: 0;
    align-self: flex-start;
  }
}
.product-media p {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.product-media p.is-visible {
  padding-right: 8rem;
  opacity: 0.4;
}
@media (max-width: 1023.98px) {
  .product-media p.is-visible {
    padding: 0 2rem;
  }
}
@media (max-width: 1023.98px) {
  .product-media.scrolled-image p {
    opacity: 0;
    position: absolute;
  }
}
.product-media .feature .loading-icon {
  opacity: 0;
  position: absolute;
}
.product-media .feature:not(.generic) {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.product-media .feature:not(.generic).is-loading .loading-icon {
  opacity: 1;
  top: 50%;
  right: 65%;
  z-index: 40;
  fill: #ff5e5e;
}
@media (max-width: 1023.98px) {
  .product-media .feature:not(.generic).is-loading .loading-icon {
    top: 40%;
    right: 0;
    left: 45%;
  }
}
@media (max-width: 767.98px) {
  .product-media .feature:not(.generic).is-loading .loading-icon {
    top: 30%;
    right: 0;
    left: 40%;
  }
}
.product-media .feature:not(.generic).is-loading img {
  opacity: 0.5;
}
.product-media .feature:not(.generic)::before {
  content: "";
  display: block;
  padding-top: 100%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1023.98px) {
  .product-media .feature:not(.generic)::before {
    padding-top: 60%;
    border-radius: 0.25rem;
  }
}
.product-media .feature:not(.generic) picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .product-media .feature:not(.generic) picture {
    width: 150%;
    left: -20rem;
  }
  .product-media .feature:not(.generic) picture img {
    transform: scale(1.5);
  }
}
.product-media .feature:not(.generic) picture img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1023.98px) {
  .product-media .feature:not(.generic) picture img {
    object-fit: cover;
  }
}
@media (max-width: 1023.98px) {
  .product-media .feature:not(.generic).scrolled-image::before {
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
  }
  .product-media .feature:not(.generic).scrolled-image img {
    transform: scale(0.6);
  }
  .product-media .feature:not(.generic).scrolled-image p {
    opacity: 0;
    position: absolute;
  }
}
.product-media .feature.generic {
  margin-top: 2rem;
}
.product-media .feature.generic img {
  width: 80%;
  border-radius: 0.25rem;
}
@media (max-width: 1023.98px) {
  .product-media .feature.generic {
    margin: 1rem 0 2rem;
  }
  .product-media .feature.generic picture {
    display: flex;
    justify-content: center;
  }
}
.product-media .thumbnails img {
  border: 1px solid #000;
}
.product-media .swiper-button-prev,
.product-media .swiper-button-next {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  z-index: 5;
}
.product-media .swiper-button-prev:focus,
.product-media .swiper-button-next:focus {
  outline: none;
}
.product-media .swiper-button-prev:hover,
.product-media .swiper-button-next:hover {
  text-decoration: none;
  outline: none;
}
.product-media .swiper-button-prev:disabled,
.product-media .swiper-button-next:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.product-media .swiper-button-prev svg,
.product-media .swiper-button-next svg {
  height: 0.875rem;
  width: 0.875rem;
  fill: currentColor;
}
.product-media .swiper-button-prev {
  left: 1rem;
}
.product-media .swiper-button-next {
  right: 1rem;
}